body {
    margin: 0 auto;
    margin-block: 50px;
    width: 1280px;

    header{
        text-align: center;
        background-color: slategray;
        border-radius: 7px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: slategray;
        border-radius: 7px;

        section {
            margin: 40px;

            a {
                color: black;
                text-decoration: none;
                font-size: xx-large;
                background-color:coral;
                border: coral 1px solid;
                border-radius: 7px;
            }
        }
    }
}