body{
    margin: 0 auto;
    width: 1280px;
}

img{
    height: 25px;
    width: 25px;
}

h1{
 font-size: xxx-large;
}

h2, h3, h4, h5{
 display: none;
}

/* HEADER */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
   padding-inline: 30px;
}

header > section#fila1,
header > section#fila2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ccd4cf 1px solid;
    
}

section#fila1 > section#register{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

header > section#fila1 a:link, header > section#fila1 a:visited, header > section#fila1 a:active, header > section#fila1 a:hover{
    color: black;
    text-decoration: none;
}

section#register > p{
    margin-inline: 40px;
}

section#fila2 > section#contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#fila2 > section#contact > img{
    height: 40px;
    width: 40px;
    margin-inline: 10px;
}


section#fila2 > section#search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section#fila2 > section#search > *{
    padding-inline: 10px;
}

/* HEADER ends */

/* NAV */

nav{
    margin: 35px;
}

nav>ul{
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 40%;
}

nav>ul>li>a:link, nav>ul>li>a:visited, nav>ul>li>a:active, nav>ul>li>a:hover{
    color: black;
    text-decoration: none;
}

nav>ul>li>a#home::after{
    background-image: url("../img/arrowdown.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position:left;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

nav>ul>li>a#shop::after{
    background-image: url("../img/arrowdown.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position:left;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

nav>ul>li>a#page::after{
    background-image: url("../img/arrowdown.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position:left;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

/* NAV ends */

/* MAIN */

/* BANNER */

main>section#banner{
    display: flex;
    flex-direction: column;
    background-image: url("../img/banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 240px;
}

main>section#banner>h1{
    font-size: 50px;
    text-shadow: 1px 1px 2px pink;
    margin: 15px;
    margin-left: 70px;
}

main>section#banner>a>button{
    margin-left: 70px;
    height: 35px;
    width: 80px;
    background-color:forestgreen;
    border: none;
    border-radius: 5px;
    color: white;
}

/* INFO */

main>section#info>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    margin-inline: 190px;
    list-style-type: none;
    text-align: center;
    
}


main>section#info>ul>li>p#shippment::before{
    background-image: url("../img/shippment.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position:left;
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 6px;
}

main>section#info>ul>li>p#reload::before{
    background-image: url("../img/reload.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position:left;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 6px;
}

main>section#info>ul>li>p#payment::before{
    background-image: url("../img/creditcard.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position:left;
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 6px;
}

main>section#info>ul>li>p#chat::before{
    background-image: url("../img/chat.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position:left;
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 6px;
}


/* SHOPBC */

main>section#shopbc>h1{
    text-align: center;
    font-size: xx-large;
}

        
        /* CATEGORIES */

        main>section#shopbc>section#categories{
            margin: 80px;
        }

        main>section#shopbc>section#categories>ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none;
        }

        main>section#shopbc>section#categories img{
            width: 100px;
            height: 100px;
        }


        /* INTERESTING */

        main > section#shopbc > section#interesting {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none;
            height: 300px;
            font-size: xxx-large;
            font-weight: bold;
            -webkit-text-stroke: 1px black
        }


        
        main > section#shopbc > section#interesting > article {
            width: 48%; /* Ocupa casi la mitad del contenedor */
            margin-right: 2%; /* Margen entre los artículos */
            margin-inline: 85px;
            position: relative; /* Para posicionar el <p> correctamente */
        }
              
        #interesting1 > p {
            background-image: url("../img/pink.jpg"); /* Cambiar según el artículo */
            background-size: cover; /* Asegura que la imagen cubra todo el área */
            width: 100%; /* Ocupa todo el ancho del artículo */
            height: 100%; /* Ocupa toda la altura del artículo */
            margin: 0; /* Elimina cualquier margen predeterminado */
            display: flex; /* Si deseas centrar contenido dentro */

            /* align-items: center;  Centra verticalmente el contenido */

            /* justify-content: center; Centra horizontalmente el contenido */
            align-items: flex-start;
            justify-content:flex-start;
            padding-top: 30px;
            padding-left: 30px;
           
        }
        
        #interesting2 > p {
            background-image: url("../img/healthy.png"); /* Cambiar según el artículo */
            background-size: cover; /* Asegura que la imagen cubra todo el área */
            width: 100%; /* Ocupa todo el ancho del artículo */
            height: 100%; /* Ocupa toda la altura del artículo */
            margin: 0; /* Elimina cualquier margen predeterminado */
            display: flex; /* Si deseas centrar contenido dentro */

            /* align-items: center;  Centra verticalmente el contenido */

            /* justify-content: center;  Centra horizontalmente el contenido */
            align-items: flex-start;
            justify-content:flex-end;
            padding-top: 30px;
            padding-right: 30px;
        }




/* DEALS */
main > section#deals {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido de la sección */
}

main > section#deals > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

main > section#deals > div > article {
    width: 40%;
    margin-inline: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #27ae60;
}

main > section#deals > div > article > div {
    display: flex;
    flex-direction: row;
}

main > section#deals > div > article > table {
    align-self: flex-end;
}

main > section#deals > div > article > div > div > section {
    align-self: flex-end;
    margin-right: 100px;
    margin-top: 30px;
}

main > section#deals > h1 {
    text-align: center;
    font-size: xx-large;
    width: 100%;
}

main > section#deals > div > article > div > a {
    align-self: flex-start;
    margin-inline: 20px;
    margin-block: 20px;
}

main > section#deals > div > article > div > a > img {
    width: 120px;
    height: 120px;
}

main > section#deals > div > article > div > p {
    display: flex;
    align-self: flex-end;

    /* margin-inline: 10px; */
}

main > section#deals > div > article strong {
    color: #27ae60;
    font-size: x-large;
}

/* Estilos para los círculos verdes */
#verde1, #verde2 {
    display: flex;
    flex-direction: column; /* Coloca #ind1 y #ind2 debajo del círculo */
    justify-content: center;
    align-items: center;
    
}

#verde1 > p, #verde2 > p {
    font-weight: bold;
    font-size: x-large;
    color: white;
    border: #27ae60 solid 5px;
    background-color: #27ae60;
    border-radius: 50%; /* Asegura que el contenedor sea circular */
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-inline: 8px;
}

/* Estilos para el texto debajo de los círculos */
#ind1, #ind2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho del contenedor principal */
    max-width: 300px; /* Limita el ancho si es necesario */
    margin-block: 0;
}

#ind1 > p, #ind2 > p {
    font-weight: bold;
    font-size: large;
    margin-inline: 25px; /* Espacio entre los textos */
}

/* FEATURED PRODUCTS */

main>section#featured{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

main>section#featured>h1{
    text-align: center;
    font-size: xx-large;
    display: block;
    width: 100%;
}

main>section#featured > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 60px;
}

main>section#featured>ul>li>a {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 30px;
    background-color: #ccd4cf;
    border-radius: 7px;
    padding-inline: 7px;
}

main>section#featured>ul>li:first-child a{
    background-color: black; /* esto esta mal si añadiré interactividad más adelante (habra que cambiar html) */
    color: white;
}

main>section#featured>ul>li:first-child a::before{
    background-image: url("../img/whitecheck.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position:left;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 6px;
}


main>section#featured>ul>li>p {
    margin: 0; 
}

#featured>ul>li>a:link, #featured>ul>li>a:visited, #featured>ul>li>a:active, #featured>ul>li>a:hover{
    color: black;
    text-decoration: none;
}

main>section#featured>section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

main>section#featured>section>a>img{
    width: 120px;
    height: 120px;
}

main>section#featured>section>p{
    font-weight: bold;
}

/* TO DO subfeatured añadido al html */

/* NEWS */

main>section#news>h1{
    text-align: center;
    font-size: xx-large;
    display: block;
    width: 100%;
    margin-top: 50px;
} 

main>section#news{
    margin-block: 50px;
    display: flex;
    flex-direction: column;
}

main>section#news>div{
    display: flex;
    flex-direction: row;
}

main>section#news>div>article{
    width: 40%; 
    margin-inline: auto; 
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

main>section#news>div>article:first-child>p:first-child{
    width: 100%;
    height: 250px;
    background-image: url("../img/smothies.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main>section#news>div>article:last-child>p:first-child{
    width: 100%;
    height: 250px;
    background-image: url("../img/coctel.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main>section#news>div>article>p:last-child, main>section#news>div>article>h6{
    align-self: start;
    margin: 0;
    font-size: medium;
    margin-block: 10px;
    font-weight: normal;
}

/* ABOUT US */

main>section#about{
    display: flex;
    flex-direction: row;
    margin-block: 50px;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    border-top: #ccd4cf 1px solid;
    border-bottom: #ccd4cf 1px solid;
}

main>section#about>ul{
    list-style: none;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    margin-inline: 30px;
}

#about a:link, #about a:visited, #about a:active, #about a:hover{
    color: black;
    text-decoration: none;
}

main>section#about>section#aboutcontact{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    border-left: #ccd4cf 1px solid;
}

main>section#about>section#aboutcontact>a>p#ubi::before{
    background-image: url("../img/ubi.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position:left;
    position: relative;
    width: 18px;
    height: 26px;
    margin-right: 6px;
}

main>section#about>section#aboutcontact>a>p#phone::before{
    background-image: url("../img/phone.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position:left;
    position: relative;
    width: 18px;
    height: 26px;
    margin-right: 8px;
}

main>section#about>ul>li>a, main>section#about h6{
    font-size: medium;
    padding-block: 0;
    margin-block: 0;
}

/* NEWSLETTER */

#newsletter {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
}

#newsletter h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: center;
}

#signup {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    max-width: 600px;
}

#signup img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#signup p {
    font-size: large;
    font-weight: bold;
    margin-right: 15px;
    text-align: center;
    white-space: pre-line; /* Permite saltos de línea */
    border-right: 1px solid #ddd;
    padding-right: 15px;
    line-height: 1.2; /* Ajusta el espacio entre líneas */
}

#signup input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
    margin: 0 10px;
    font-size: 0.9rem;
    color: #555;
    text-align: right; /* Alinea el texto a la derecha */
    border-right: 2px solid cornflowerblue; /* Borde derecho azul */
}

#signup button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
}

#signup button:hover {
    background-color: #219150;
}



#botomnav{
    margin: 35px;
}

#botomnav>ul{
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 40%;
}


#botomnav>ul>li>a:link, 
#botomnav>ul>li>a:visited, 
#botomnav>ul>li>a:active, 
#botomnav>ul>li>a:hover{
    color: black;
    text-decoration: none;
}

/* MAIN ends */


/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: #ddd;
    padding-block: 20px;
    border-top: #ccd4cf 1px solid;
    background-color: #222;
}

footer strong{
    color: #219150;
    margin-inline-start: 10px;
}

/* FOOTER ends */