body {
    margin: 0 auto;
    width: 1280px;
}

img {
    height: 25px;
    width: 25px;
}

h1 {
    font-size: xxx-large;
}

.hidden {
    display: none;
}


/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-inline: 30px;
}

#fila1,
#fila2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ccd4cf 1px solid;

    h1 {
        position: absolute;
        margin-inline: 450px;
    }

    select {
        border: none;
        background: none;
    }
}

#currency {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-size: small;
        font-weight: 100;
        margin-right: 10px;
    }
}

#register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
        margin-inline: 40px;
    }

}

#fila1 a:link,
#fila1 a:visited,
#fila1 a:active,
#fila1 a:hover {
    color: black;
    text-decoration: none;
}


#contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 40px;

    img {
        height: 40px;
        width: 40px;
        margin-inline: 10px;
    }

    p {
        margin: 0;
    }

}

#search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    * {
        padding-inline: 10px;
    }
}

/* HEADER ends */

/* NAV */

nav {
    margin: 35px;
}

nav>ul {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 40%;
}

nav a:link,
nav a:visited,
nav a:active,
nav a:hover {
    color: black;
    text-decoration: none;
}

nav #home::after {
    background-image: url("../img/arrowdown.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position: left;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

nav #shop::after {
    background-image: url("../img/arrowdown.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position: left;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

nav #page::after {
    background-image: url("../img/arrowdown.png");
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background-position: left;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

/* NAV ends */

/* MAIN */

/* BANNER */

#banner {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: url("../img/banner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;

    h1 {
        width: 500px;
        font-size: 40px;
        margin-top: 70px;
        margin-left: 200px;
        margin-bottom: 0;
    }

    p {
        width: 500px;
        margin-left: 200px;
    }

    a {
        text-align: center;
        margin-left: 200px;
        padding-block: 16px;
        padding-inline: 32px;
        background-color: #27ae60;
        border: none;
        border-radius: 5px;
        color: white;
    }

    a:link,
    nav a:visited,
    nav a:active,
    nav a:hover {
        color: white;
        text-decoration: none;
    }
}

/* INFO */

#info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 0;
        width: 100%;

        li {
            width: fit-content;
        }
    }

    article {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        margin-inline: 20px;
        justify-content: center;
        place-items: center;
    }

    article>img {
        width: 40px;
        height: 40px;
        grid-column: 1;
        grid-row: 1 / 3;
    }

    article h3 {
        font-size: small;
        grid-column: 2;
        grid-row: 1;
        margin-block: 0;
        width: fit-content;
    }

    article p {
        font-size: smaller;
        color: #555;
        grid-column: 2;
        grid-row: 2;
        margin-block: 0;
        width: fit-content;
    }

}

/* SHOPBC */

#shopbc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;

    h2 {
        text-align: center;
        font-size: xx-large;
    }

    p {
        color: #555;
        margin-top: 0;
    }

    hr {
        width: 80px;
        color: #219150;
    }

    /* CATEGORIES */

    #categories {
        margin: 60px;

        div {
            color: white;
            text-align: center;
            width: 100%;
            position: relative;
            padding-block: 6px;
        }

        li:hover div {
            display: block;
            background-color: #219150;
        }
    }

    #categories ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
    }

    #categories ul li {
        margin-inline: 20px;
        border: 0.5px solid #e7ecea;
    }

    #categories img {
        width: 150px;
        height: 150px;
    }

    #categories p {
        text-align: center;
        margin-top: 35px;
        font-weight: bold;
    }

}

/* INTERESTING */

#interesting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    height: 300px;
    width: 1150px;
    font-size: xxx-large;
    font-weight: bold;

    article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;

        h4 {
            width: 250px;
            margin-block: 0 10px;
        }

        a {
            font-size: medium;
        }

        p {
            font-size: 15px;
        }

        p:first-of-type {
            color: black;
            margin: 0;
        }

        #sale {
            color: white;
            background-color: limegreen;
            padding: 2px;
            border-radius: 5px;
        }

        #off {
            color: white;
            background-color: orangered;
            padding: 5px;
            border-radius: 5px;
        }

    }

    #interesting1 {
        background-image: url("../img/anacardos.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        margin-inline: 20px;
        padding-top: 40px;
        padding-left: 50px;

        h4 {
            color: orangered;
        }

    }

    #interesting2 {
        background-image: url("../img/chips.JPG");
        background-size: cover;
        width: 100%;
        height: 100%;
        margin-inline: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 40px;
        padding-left: 50px;

        h4 {
            color: white;
        }
    }
}

/* DEALS */
#deals {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 5px;
    }

    p {
        color: #555;
        margin-top: 0;
        text-align: center;
    }

    >div {
        display: flex;
        justify-content: center;
        gap: 30px;
        width: 90%;
        margin-top: 20px;

        article {
            border: 4px solid #27ae60;
            display: flex;
            flex-direction: column;
            width: 600px;
            height: 350px;

            >div {
                display: flex;
                justify-content: space-between;
                padding-inline-end: 30px;

                a img {
                    width: 200px;
                    height: auto;
                    margin: 15px;
                    margin-top: 30px;
                }

                #deal1,
                #deal2 {
                    display: flex;
                    flex-direction: column;
                    margin: 15px;
                    padding: 10px;

                    section {
                        display: flex;
                        margin-bottom: 10px;

                        img {
                            width: 20px;
                            height: 20px;
                            margin-right: 3px;
                        }
                    }

                    p {
                        margin: 5px 0;
                        color: #555;
                        font-size: 1rem;
                        text-align: left;
                    }

                    p:nth-of-type(2) {
                        color: black;
                        font-weight: bolder;
                    }

                    strong {
                        font-size: 1.5rem;
                        color: #27ae60;
                    }
                }
            }

            #verde1,
            #verde2 {
                display: flex;
                justify-content: space-between;
                margin: 10px 0;

                span {
                    width: 45px;
                    height: 45px;
                    background-color: #27ae60;
                    color: white;
                    font-weight: bold;
                    font-size: 1.2rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            #ind1,
            #ind2 {
                display: flex;
                justify-content: space-between;

                span {
                    font-weight: bold;
                    font-size: 0.9rem;
                    color: #555;
                }
            }
        }
    }
}


/* FEATURED PRODUCTS */

#featured {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;

    h2 {
        text-align: center;
        font-size: xx-large;
    }

    p {
        color: black;
        margin-top: 0;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        width: 600px;
        margin-bottom: 60px;

        li>a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            border-radius: 7px;
            padding-inline: 7px;
        }

        p {
            margin: 0;
        }

        li:first-child>a>p {
            background-color: #f1ecec;
            padding: 2px;
            border-radius: 5px;
            color: #219150;
            text-decoration: none;
        }

        li>a:link,
        li>a:visited,
        li>a:active,
        li>a:hover {
            color: black;
            text-decoration: none;
        }

    }

    #subfeatured {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        width: 100%;

        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;
            justify-content: space-between;
            width: 100%;

            li {
                display: flex;
                flex-direction: column;
                width: 20%;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                div {
                    color: white;
                    text-align: center;
                    padding-block: 10px;
                    margin-top: 5px;
                }

                &:hover div {
                    background-color: #302e2e;
                    width: 100%;
                }

            }
        }

        img {
            width: 160px;
            height: 160px;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h4 {
                margin: 0;
            }

            p {
                color: #27ae60;
                font-weight: bold;
                font-size: medium;
                text-align: center;
                margin-top: 5px;
            }

            span {
                color: #555;
            }

            section {
                margin-block: 10px;

                img {
                    width: 15px;
                    height: 15px;
                    margin-right: 3px;
                }
            }

            #new,
            #sale {
                position: absolute;
                border-radius: 5px;
                color: white;
                align-self: flex-start;
            }

            #new {
                background-color: black;
            }

            #sale {
                background-color: red;
                margin-top: 35px;

            }
        }
    }

}


/* NEWS */

#news {
    margin-block: 50px;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 5px;
    }

    p {
        color: #555;
        margin-top: 0;
        text-align: center;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            margin-inline: 5px;
            margin-block: 0;
        }

        p:first-of-type {
            color: #27ae60;
        }
    }

    div {
        display: flex;
        flex-direction: row;

        article {
            width: 31%;
            margin-inline: auto;
            position: relative;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            margin-block: 10px;

            h3 {
                margin-block: 10px;
            }

            a,
            img {
                width: 100%;
                height: auto;
            }

            p {
                text-align: left;
                font-size: medium;
                margin-block: 10px;
            }

            a>p:first-child {
                font-weight: bold;
                color: #219150;
            }

        }

    }
}



/* ABOUT US */

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    border-top: #ccd4cf 1px solid;
    border-bottom: #ccd4cf 1px solid;
    margin-inline: 50px 10px;

    section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 25%;
        height: 60%;

        ul {
            list-style: none;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: start;
            margin: 0;
            padding: 0;

            li {
                margin: 5px;
            }
        }
    }

    a:link,
    a:visited,
    a:active,
    a:hover {
        color: black;
        text-decoration: none;
    }

    #aboutcontact {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 70%;
        border-left: #ccd4cf 1px solid;
        padding-inline: 30px;

        p {
            margin: 0;
        }

        img {
            width: 18px;
            height: 26px;
            margin-right: 15px;
        }

        div {
            display: flex;
            flex-direction: row;

            div {
                display: flex;
                flex-direction: column;
            }
        }
    }

}


/* NEWSLETTER */

#newsletter {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 20px auto;

    h2 {
        font-size: large;
        font-weight: 400;
        margin-bottom: 15px;
        text-align: center;
    }

    #signup {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        padding: 10px;
        width: 100%;

        img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        h2 {
            font-size: large;
            font-weight: bold;
            margin-inline: 20px;
            padding-right: 30px;
            text-align: center;
            white-space: pre-line;
            border-right: 1px solid #ccd4cf;
            line-height: 1.2;
            width: 150px;

        }

        p {
            color: #555;
            width: 300px;
            margin-inline: 20px;
        }

        form {
            display: flex;
            align-self: right;
            width: 450px;
            border: 1px solid #ccd4cf;
            padding: 5px;

            input[type="text"] {
                flex-grow: 1;
                border: none;
                outline: none;
                padding: 5px;
                margin: 0 10px;
                font-size: 0.9rem;
                color: #555;
            }

            button {
                background-color: #27ae60;
                color: white;
                border: none;
                padding: 8px 15px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 0.9rem;
                font-weight: bold;
            }

            button:hover {
                background-color: #219150;
            }
        }
    }

}

#botomnav {
    margin: 35px;

    ul {
        display: flex;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        width: 40%;
        font-weight: bold;

        a:link,
        a:visited,
        a:active,
        a:hover {
            color: black;
            text-decoration: none;
        }
    }
}

/* MAIN ends */


/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: #ddd;
    padding-block: 20px;
    border-top: #ccd4cf 1px solid;
    background-color: #222;

    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-inline: 20px;

        p,
        img {
            margin-inline: 5px;
        }

        strong {
            color: #219150;
            margin-inline-start: 10px;
        }
    }
}

/* FOOTER ends */

/* Estilos responsivos */


/* Portatiles */

@media screen and (width <=1400px) and (width >=1101px) {
    body {
        width: 1000px;
    }

    header {
        padding-inline: 15px;
    }

    #fila1 {
        flex-flow: row wrap;
        justify-content: center;
        border-bottom: none;
        gap: 15px;
    }


    #fila2 {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #fila1 h1,
    #fila2 h1 {
        position: static;
        margin-inline: 0;
        margin-block: 10px;
        margin-left: 110px;
    }

    #fila1 select,
    #fila2 select {
        margin-top: 10px;
        width: 100%;
    }

    #fila1 div,
    #fila2 div {
        width: 100%;
        justify-content: space-between;
    }

    #currency h3 {
        font-size: smaller;
        margin-right: 5px;
    }

    #register {
        margin-block: 10px;
    }

    #social {
        margin-block: 10px;
    }

    #contact {
        flex-direction: row;
        margin-block: 10px;
    }

    #contact img {
        height: 30px;
        width: 30px;
    }

    #search {
        flex-direction: row;
        align-items: flex-start;

        a {
            padding-inline: 2px;
        }
    }


    /* Nav */
    nav ul {
        width: 80%;
    }

    /* Banner */
    #banner {
        background-size: cover;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    #banner h1 {
        margin: 10px auto;
        font-size: 2.5rem;
    }

    #banner p,
    #banner a {
        margin: 10px auto;
    }

    #info {
        margin-block: 40px;
    }


    #shopbc {
        margin-block: 70px;

        /* Categories */
        #categories {
            ul {
                flex-flow: row wrap;
                align-items: center;
                gap: 10px;

                li {
                    text-align: center;
                    justify-content: center;
                    width: 200px;

                    a {
                        img {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }



    /* Interesting */
    #interesting {
        flex-direction: column;
        align-items: center;
        height: 1000px;
        width: 70%;
        gap: 100px;
    }


    /* Deals */
    #deals {
        margin-block: 20px;
    }

    #deals>div {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #deals article {
        width: 100%;
        height: auto;
    }

    #deals #verde1,
    #deals #verde2 {
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    /* Featured */


    #featured {
        margin-block: 30px;

        ul:first-of-type {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0;
            gap: 5px;
            width: 70%;

            li {
                width: 20%;
                margin: 0;
            }
        }

        #subfeatured ul {
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            width: 100%;

            li {
                width: 20%;
            }
        }
    }

    #news {
        margin-block: 10px;

        h2 {
            margin-block: 20px;
        }

        div {
            flex-direction: column;
            align-items: center;
            gap: 20px;

            article {
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                p {
                    text-align: center;
                }

                img {
                    border-radius: 20px;
                }
            }
        }
    }

    /* About Us */
    #about {
        flex-flow: row wrap;
        height: auto;
        align-items: center;
        margin-inline: auto;
        width: 70%;
        padding-block: 30px;
    }

    #about section,
    #about #aboutcontact {
        width: 40%;
        align-items: start;
        justify-content: start;
        border: none;
        padding: 0;
    }

    #about ul {
        align-items: center;
    }

    #aboutcontact {
        a {
            margin-block: 5px;
        }

        div {
            flex-direction: column;
            align-items: center;
            margin-block: 2px;
            padding-block: 2px;
        }
    }



    /* Newsletter */
    #newsletter {
        max-width: 80%;

        #signup {
            flex-direction: column;
            gap: 10px;
            align-items: center;
            border: none;

            h2 {
                border: none;
                padding: 0;
            }

            p{
                text-align: center;
            }

            form {
                flex-direction: column;
                gap: 10px;
                width: 100%;

                input[type="text"] {
                    margin: 0;
                }

                button {
                    width: 100%;
                }
            }
        }
    }

    #botomnav ul {
        width: 80%;
    }

    /* Footer */
    footer {
        flex-flow: row wrap;
        padding-inline: 60px;
    }

    footer section {
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

}



/* Tablets */

@media screen and (width <=1100px) and (width >=901px) {
    body {
        width: 820px;
    }

    header {
        padding-inline: 15px;
    }

    #fila1 {
        flex-flow: row wrap;
        justify-content: center;
        border-bottom: none;
        gap: 15px;

        section {
            select {
                font-size: x-large;
            }

            h3 {
                font-size: x-large;
            }

            p {
                font-size: x-large;

                a {
                    font-size: x-large;
                }
            }

            img {
                width: 30px;
                height: 30px;
            }
        }
    }


    #fila2 {
        flex-flow: column wrap;
        justify-content: center;

        h1 {
            font-size: xxx-large;
        }

        section {
            p {
                font-size: x-large;
            }

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    #fila1 h1,
    #fila2 h1 {
        position: static;
        margin-inline: 0;
        margin-block: 10px;
    }

    #fila1 select,
    #fila2 select {
        margin-top: 10px;
        width: 100%;
    }

    #fila1 div,
    #fila2 div {
        width: 100%;
        justify-content: space-between;
    }

    #currency h3 {
        font-size: smaller;
        margin-right: 5px;
    }

    #register {
        margin-block: 10px;

        p:nth-of-type(2) {
            display: none;
        }
    }

    #social {
        margin-block: 10px;
    }

    #contact {
        flex-direction: row;
        margin-block: 10px;
    }

    #contact img {
        height: 30px;
        width: 30px;
    }

    #search {
        flex-direction: row;
        align-items: center;
        margin-block: 10px;
        width: 80%;
    }


    /* Nav */
    nav {
        ul {
            width: 80%;
            margin-inline: auto;
            padding: 0;

            li {
                font-size: x-large;
                justify-content: center;
            }
        }
    }

    /* Banner */
    #banner {
        background-size: cover;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    #banner h1 {
        margin: 10px auto;
        font-size: 2.5rem;
    }

    #banner p,
    #banner a {
        margin: 10px auto;
        font-size: x-large;
    }

    #info ul {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        text-align: center;

        li {
            width: 40%;
            margin-block: 10px;
            margin-inline: 10px;

            h3,
            p {
                font-size: x-large;
            }
        }
    }


    #shopbc {
        margin-block: 60px;

        h2 {
            font-size: xxx-large;
            margin-block: 20px;
        }

        p {
            font-size: x-large;
        }

        /* Categories */
        #categories ul {
            flex-flow: row wrap;
            align-items: center;
            gap: 10px;

            li {
                text-align: center;
                justify-content: center;
                width: 40%;

                a {
                    img {
                        width: 225px;
                        height: 225px;
                    }
                }
            }
        }
    }



     /* Interesting */
     #interesting {
        flex-direction: column;
        align-items: center;
        height: 1000px;
        width: 70%;
        gap: 100px;

        article {
            h4 {
                font-size: xxx-large;
            }

            a,
            p {
                font-size: x-large;
            }
        }
    }


      /* Deals */
      #deals {
        margin-block: 20px;

        h2 {
            font-size: xxx-large;
        }

        p {
            font-size: x-large;
        }
    }

    #deals>div {
        flex-direction: column;
        align-items: center;
        gap: 15px;

        article {
            width: 100%;
            height: auto;

            div {
                #deal1,
                #deal2 {
                    p,
                    strong,
                    span {
                        font-size: x-large;
                    }

                    section {
                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }

    #deals #verde1,
    #deals #verde2 {
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    /* Featured */
    #featured {
        h2{
            font-size: xxx-large;
        }

        p{
            font-size: x-large;
        }

        margin-block: 30px;

        ul:first-of-type {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 0;

            li {
                width: 100%;
                margin: 0;
            }
        }

        #subfeatured ul {
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            width: 100%;

            li {
                width: 40%;

                article {
                    span, h4, p{
                        font-size: x-large;
                    }

                    a{
                        img{
                            width: 230px;
                            height: 230px;
                        }
                    }

                    section{
                        img{
                            width: 25px;
                            height: 25px;
                        }
                    }
                }

                section>img {
                    width: 20px;
                    height: 20px;
                }

            }
        }
    }

    #news {
        margin-block: 10px;

        h2 {
            margin-block: 20px;
            font-size: xxx-large;
        }

        p{
            font-size: x-large;
        }

        div {
            flex-direction: column;
            align-items: center;
            gap: 20px;

            article {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                a, p, h3{
                    font-size: x-large;
                }

                p {
                    text-align: center;
                }

                img {
                    border-radius: 20px;
                }
            }
        }
    }

    /* About Us */
    #about {
        flex-flow: row wrap;
        height: auto;
        align-items: center;
        margin-inline: auto;
        width: 80%;
        padding-block: 10px;

        h3{
            font-size: xx-large;
        }

        a, p{
            font-size: x-large;
        }
    }

    #about section,
    #about #aboutcontact {
        width: 40%;
        align-items: start;
        justify-content: start;
        border: none;
        padding: 0;
    }

    #about ul {
        align-items: center;
    }

    #aboutcontact {
        a {
            margin-block: 5px;
        }

        div {
            flex-direction: column;
            align-items: center;
            margin-block: 2px;
            padding-block: 2px;
        }
    }



    /* Newsletter */
    #newsletter {
        max-width: 80%;

        #signup {
            flex-direction: column;
            gap: 10px;
            align-items: center;
            border: none;

            h2 {
                border: none;
                padding: 0;
                font-size: xx-large;
                width: fit-content;
            }

            p {
                font-size: x-large;
                text-align: center;
            }

            form {
                flex-direction: column;
                gap: 10px;
                width: 100%;

                input[type="text"] {
                    margin: 0;
                    font-size: x-large;
                }

                button {
                    width: 100%;
                    font-size: x-large;
                }
            }
        }
    }

    #botomnav {
        ul {
            width: 80%;
            margin-inline: auto;
            padding: 0;

            li {
                font-size: x-large;
                justify-content: center;
            }
        }
    }

    /* Footer */
    footer {
        flex-flow: row wrap;
        padding-inline: 60px;
        font-size: x-large;
        height: fit-content;
    }

    footer section {
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

}


/* Telefonos */

@media screen and (width <=900px) {
    body {
        width: 730px;
    }

    header {
        padding-inline: 15px;
    }

    #fila1 {
        flex-flow: row wrap;
        justify-content: center;
        border-bottom: none;
        gap: 15px;

        section {
            select {
                font-size: x-large;
            }

            h3 {
                font-size: x-large;
            }

            p {
                font-size: x-large;

                a {
                    font-size: x-large;
                }
            }

            img {
                width: 30px;
                height: 30px;
            }
        }

    }


    #fila2 {
        flex-flow: column wrap;
        justify-content: center;

        h1 {
            font-size: xxx-large;
        }

        section {
            p {
                font-size: x-large;
            }

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    #fila1 h1,
    #fila2 h1 {
        position: static;
        margin-inline: 0;
        margin-block: 10px;
    }

    #fila1 select,
    #fila2 select {
        margin-top: 10px;
        width: 100%;
    }

    #fila1 div,
    #fila2 div {
        width: 100%;
        justify-content: space-between;
    }

    #currency h3 {
        font-size: smaller;
        margin-right: 5px;
    }

    #register {
        margin-block: 10px;

        p:nth-of-type(2) {
            display: none;
        }
    }

    #social {
        margin-block: 10px;
    }

    #contact {
        flex-direction: row;
        align-items: flex-start;
        margin-block: 10px;
    }

    #contact img {
        height: 30px;
        width: 30px;
    }

    #search {
        flex-direction: row;
        align-items: center;
        margin-block: 10px;
        width: 80%;
    }


    /* Nav */
    nav {
        ul {
            width: 80%;
            margin-inline: auto;
            padding: 0;

            li {
                font-size: x-large;
                justify-content: center;
            }
        }
    }

    /* Banner */
    #banner {
        background-size: cover;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    #banner h1 {
        margin: 10px auto;
        font-size: 2.5rem;
    }

    #banner p,
    #banner a {
        margin: 10px auto;
        font-size: x-large;
    }

    #info ul {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        text-align: center;

        li {
            width: 40%;
            margin-block: 10px;
            margin-inline: 10px;

            h3,
            p {
                font-size: x-large;
            }
        }
    }


    #shopbc {
        margin-block: 60px;

        h2 {
            font-size: xxx-large;
            margin-block: 20px;
        }

        p {
            font-size: x-large;
        }

        /* Categories */
        #categories ul {
            flex-flow: row wrap;
            align-items: center;
            gap: 10px;
            padding-inline: 0;

            li {
                text-align: center;
                justify-content: center;
                width: 42%;

                a {
                    img {
                        width: 250px;
                        height: 250px;
                    }
                }
            }
        }
    }

    /* Interesting */
    #interesting {
        flex-direction: column;
        align-items: center;
        height: 1000px;
        width: 70%;
        gap: 100px;

        article {
            h4 {
                font-size: xxx-large;
            }

            a,
            p {
                font-size: x-large;
            }
        }
    }


    /* Deals */
    #deals {
        margin-block: 20px;

        h2 {
            font-size: xxx-large;
        }

        p {
            font-size: x-large;
        }
    }

    #deals>div {
        flex-direction: column;
        align-items: center;
        gap: 15px;

        article {
            width: 100%;
            height: auto;

            div {
                #deal1,
                #deal2 {
                    p,
                    strong,
                    span {
                        font-size: x-large;
                    }

                    section {
                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }


    #deals #verde1,
    #deals #verde2 {
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    /* Featured */
    #featured {
        h2{
            font-size: xxx-large;
        }

        p{
            font-size: x-large;
        }

        margin-block: 30px;

        ul:first-of-type {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 0;

            li {
                width: 100%;
                margin: 0;
            }
        }

        #subfeatured ul {
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            width: 100%;

            li {
                width: 40%;

                article {
                    span, h4, p{
                        font-size: x-large;
                    }

                    a{
                        img{
                            width: 250px;
                            height: 250px;
                        }
                    }
                    
                    section{
                        img{
                            width: 25px;
                            height: 25px;
                        }
                    }
                }

                section>img {
                    width: 20px;
                    height: 20px;
                }

            }
        }
    }

    #news {
        margin-block: 10px;

        h2 {
            margin-block: 20px;
            font-size: xxx-large;
        }

        p{
            font-size: x-large;
        }

        div {
            flex-direction: column;
            align-items: center;
            gap: 20px;

            article {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                a, p, h3{
                    font-size: x-large;
                }

                p {
                    text-align: center;
                }

                img {
                    border-radius: 20px;
                }
            }
        }
    }

    /* About Us */
    #about {
        flex-flow: row wrap;
        height: auto;
        align-items: center;
        margin-inline: auto;
        width: 80%;
        padding-block: 10px;

        h3{
            font-size: xx-large;
        }

        a, p{
            font-size: x-large;
        }
    }

    #about section,
    #about #aboutcontact {
        width: 40%;
        align-items: start;
        justify-content: start;
        border: none;
        padding: 0;
    }

    #about ul {
        align-items: center;
    }

    #aboutcontact {
        a {
            margin-block: 5px;
        }

        div {
            flex-direction: column;
            align-items: center;
            margin-block: 2px;
            padding-block: 2px;
        }
    }



    /* Newsletter */
    #newsletter {
        max-width: 80%;

        #signup {
            flex-direction: column;
            gap: 10px;
            align-items: center;
            border: none;

            h2 {
                border: none;
                padding: 0;
                font-size: xx-large;
                width: fit-content;
            }

            p {
                font-size: x-large;
                text-align: center;
            }

            form {
                flex-direction: column;
                gap: 10px;
                width: 100%;

                input[type="text"] {
                    margin: 0;
                    font-size: x-large;
                }

                button {
                    width: 100%;
                    font-size: x-large;
                }
            }
        }
    }

    #botomnav {
        ul {
            width: 80%;
            margin-inline: auto;
            padding: 0;

            li {
                font-size: x-large;
                justify-content: center;
            }
        }
    }

    /* Footer */
    footer {
        flex-flow: row wrap;
        padding-inline: 60px;
        font-size: x-large;
        height: fit-content;
    }

    footer section {
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
}